svg{
    background-color: #ccc;
}

.tf-container {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

.tf-container nav {
    /* background-color: #e8e8e8; */
    padding: 5px 0;
    margin: 0 0 0 0;
    text-transform: uppercase;
    font-size: 14px;
}
.tf-container nav .party-nav, .tf-container nav .covid-nav{
    margin: 0 0 10px 0;
}
.tf-container nav button {
    font-size: 14px;
    border: none;
    outline: none;
    text-transform: uppercase;
}
.tf-container nav input {
    font-size: 14px;
}