svg{
    background-color: #F8F8F8;
}

.tf-container {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

.tf-container nav {
    /* background-color: #e8e8e8; */
    padding: 5px 0;
    margin: 0 0 0 0;
    text-transform: uppercase;
    font-size: 14px;
}
.tf-container nav .party-nav, .tf-container nav .covid-nav{
    margin: 0 0 10px 0;
}
.tf-container nav button {
    font-size: 14px;
    border: none;
    outline: none;
    text-transform: uppercase;
}
.tf-container nav input {
    font-size: 14px;
}

path, circle{
    transition: all .5s;
    cursor: pointer;
}

path{
    fill: #FFF;
}
.state.R{
    fill: #ff6b6b;
}
.state.D{
    fill: #54a0ff;
}
.state.Coalition{
    fill: #999999
}
path:hover, circle:hover{
    fill: #333;
}



.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
  }
.d3-tip span{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }